# ===== DATABASE =====
POSTGRES_USER=fitness
POSTGRES_PASSWORD=change_me_please
POSTGRES_DB=fitness_os
# ===== N8N =====
N8N_WEBHOOK_URL=http://localhost:5678/webhook/enrich-exercise
N8N_AUTOFILL_WEBHOOK_URL=http://localhost:5678/webhook/workout-autofill
# ===== APP =====
APP_HOST=0.0.0.0
APP_PORT=8000
FITNESS_OS_API_KEY=change_me_api_key_fitness_os_123
# ===== DEPLOY =====
DOCKER_IMAGE=ngaitu29s1/fitness-os:latest
